prod-workflow/cnadv/CNADV - Recortes → Trello__LEO3bh3r8IjhmaLE.json
{
  "updatedAt": "2026-04-08T20:46:13.567Z",
  "createdAt": "2026-03-18T22:43:04.364Z",
  "id": "LEO3bh3r8IjhmaLE",
  "name": "CNADV - Recortes → Trello",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "7c4552e4-a9f5-477e-ada7-b73b0dfe11dc",
      "name": "A cada 1 hora1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4vMm6qr8IQhUy67J",
          "mode": "list",
          "cachedResultUrl": "/workflow/4vMm6qr8IQhUy67J",
          "cachedResultName": "NNADV - Auth DataJuri"
        },
        "options": {}
      },
      "id": "7df3d276-7e04-4e08-aa2c-3d6daa7605b8",
      "name": "Busca Token1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1152,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.bearer;\nif (!token) throw new Error('Token não encontrado');\nreturn [{ json: { bearer: token } }];"
      },
      "id": "9c4209a1-038a-4e0e-b138-a35298b17afb",
      "name": "Salva Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.datajuri.com.br/v1/entidades/RecorteConsulta",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "campos",
              "value": "numeroProcesso,intimacao,tribunal,vara,textoCompleto,data,lido,faseProcesso.processo.cliente.nome,faseProcesso.processo.adverso.nome,faseProcesso.processo.proprietario.nome,faseProcesso.processo.pasta,observacao,faseProcesso.processo.natureza,faseProcessoId,andamentoFaseId"
            },
            {
              "name": "criterio",
              "value": "lido | igual a | Não"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "removerHtml",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.bearer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "d2bbf032-f2bc-42e2-8a47-8daf46737f7a",
      "name": "Busca Recortes Não Lidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet registros = [];\n\nif (Array.isArray(response) && response[0] && response[0].rows) {\n  registros = response[0].rows;\n} else if (response.rows) {\n  registros = response.rows;\n} else if (Array.isArray(response)) {\n  registros = response;\n} else if (response.content) {\n  registros = response.content;\n} else if (response.data) {\n  registros = response.data;\n}\n\nif (registros.length === 0) {\n  console.log('Nenhum recorte não lido encontrado');\n  return [];\n}\n\nconsole.log(`${registros.length} recortes não lidos encontrados`);\nreturn registros.map(r => ({ json: r }));"
      },
      "id": "56c3fef7-7c6a-4ace-9322-488c44ff586c",
      "name": "Extrai Registros1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.idsProcessados) staticData.idsProcessados = [];\n\nif (staticData.idsProcessados.length > 2000) {\n  staticData.idsProcessados = staticData.idsProcessados.slice(-2000);\n}\n\nconst itens = $input.all();\nconst novos = [];\n\nfor (const item of itens) {\n  const id = String(item.json.id);\n  \n  if (!id || id === 'undefined') {\n    novos.push(item);\n    continue;\n  }\n  \n  if (!staticData.idsProcessados.includes(id)) {\n    staticData.idsProcessados.push(id);\n    novos.push(item);\n  }\n}\n\nconsole.log(`${novos.length} novos de ${itens.length} total (${itens.length - novos.length} já processados)`);\nreturn novos.length > 0 ? novos : [];"
      },
      "id": "ec77d183-b2d7-4cc9-9169-bedbf878814d",
      "name": "Deduplicação1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nconst pasta = r['faseProcesso.processo.pasta'] || r.numeroProcesso || 'Processo';\nconst natureza = r['faseProcesso.processo.natureza'] || '';\nconst tribunal = r.tribunal || '';\nconst vara = r.vara || '';\n\nconst titulo = [pasta, natureza ? `· ${natureza}` : '', tribunal ? `· ${tribunal}` : '']\n  .filter(Boolean).join(' ').substring(0, 255);\n\nconst texto = (r.textoCompleto || '').toLowerCase();\nconst nat = (natureza || '').toLowerCase();\n\nlet labelNome = 'Geral';\nif (nat.includes('trabalhist')) labelNome = 'Trabalhista';\nelse if (nat.includes('cível') || nat.includes('civel')) labelNome = 'Cível';\nelse if (nat.includes('falência') || nat.includes('falencia')) labelNome = 'Falência';\nelse if (nat.includes('recupera')) labelNome = 'Recuperação Judicial';\nelse if (nat.includes('tributár') || nat.includes('tributar')) labelNome = 'Tributário';\nelse if (nat.includes('imobil')) labelNome = 'Imobiliário';\nelse if (nat.includes('consum')) labelNome = 'Consumidor';\n\nconst palavrasUrgentes = ['prazo', 'audiência', 'audiencia', 'penhora', 'embargo', 'adjudicação', 'leilão', 'leilao', 'citação'];\nconst urgente = palavrasUrgentes.some(p => texto.includes(p));\n\nconst cliente = r['faseProcesso.processo.cliente.nome'] || 'N/A';\nconst adverso = r['faseProcesso.processo.adverso.nome'] || 'N/A';\nconst responsavel = r['faseProcesso.processo.proprietario.nome'] || 'N/A';\nconst obs = r.observacao ? `\\n💬 Obs: ${r.observacao}` : '';\nconst resumoTexto = r.textoCompleto\n  ? r.textoCompleto.substring(0, 600) + (r.textoCompleto.length > 600 ? '...' : '')\n  : '';\n\nconst descricao = [\n  `👤 Cliente: ${cliente}`,\n  `⚔️ Adverso: ${adverso}`,\n  `👨‍⚖️ Responsável: ${responsavel}`,\n  vara ? `🏛️ Vara: ${vara} · ${tribunal}` : `🏛️ Tribunal: ${tribunal}`,\n  natureza ? `📂 Natureza: ${natureza}` : '',\n  '',\n  resumoTexto ? `📄 Recorte:\\n${resumoTexto}` : '',\n  obs,\n  '',\n  `🔢 ID DataJuri: ${r.id}`\n].filter(l => l !== null && l !== undefined).join('\\n');\n\nconst dataVenc = r.data ? (() => {\n  const partes = r.data.split('/');\n  if (partes.length === 3) return `${partes[2]}-${partes[1]}-${partes[0]}T12:00:00Z`;\n  return null;\n})() : null;\n\nreturn [{ json: { titulo, descricao, dataVencimento: dataVenc, labelNome, urgente, id_datajuri: r.id } }];"
      },
      "id": "d4e446ff-0285-4afd-a05a-fd3e980d1fd8",
      "name": "Monta Card Trello1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idList",
              "value": "69bb474647779a97cb6786b4"
            },
            {
              "name": "name",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "desc",
              "value": "={{ $json.descricao }}"
            },
            {
              "name": "due",
              "value": "={{ $json.dataVencimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "197bfa46-c71a-47ae-9bae-0b55bdbde89e",
      "name": "Cria Card Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        32
      ],
      "credentials": {
        "trelloApi": {
          "id": "yV2Whs8Z7g7gCMOM",
          "name": "Trello-ragheria"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "urgente-check",
              "leftValue": "={{ $('Monta Card Trello1').first().json.urgente }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "72093fbd-f9bd-43fd-a764-0a2292e4dd1d",
      "name": "É urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.trello.com/1/cards/{{ $input.first().json.id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "color",
              "value": "red"
            }
          ]
        },
        "options": {}
      },
      "id": "473380d3-3ec7-4bc7-8174-7e39cbc9ff77",
      "name": "Label Urgente (vermelho)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        -80
      ],
      "credentials": {
        "trelloApi": {
          "id": "yV2Whs8Z7g7gCMOM",
          "name": "Trello-ragheria"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const card = $input.first().json;\nconsole.log(`✅ Card criado: ${card.name} | ID: ${card.id} | URL: ${card.shortUrl}`);\nreturn [{ json: { sucesso: true, card_id: card.id, card_url: card.shortUrl } }];"
      },
      "id": "0781e466-5b1a-4a48-962e-f4b30d9c5b9b",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        128
      ]
    }
  ],
  "connections": {
    "A cada 1 hora1": {
      "main": [
        [
          {
            "node": "Busca Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Token1": {
      "main": [
        [
          {
            "node": "Salva Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Token": {
      "main": [
        [
          {
            "node": "Busca Recortes Não Lidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Recortes Não Lidos": {
      "main": [
        [
          {
            "node": "Extrai Registros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Registros1": {
      "main": [
        [
          {
            "node": "Deduplicação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicação1": {
      "main": [
        [
          {
            "node": "Monta Card Trello1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Card Trello1": {
      "main": [
        [
          {
            "node": "Cria Card Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Card Trello": {
      "main": [
        [
          {
            "node": "É urgente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É urgente?": {
      "main": [
        [
          {
            "node": "Label Urgente (vermelho)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Urgente (vermelho)": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:A cada 1 hora": {
      "recurrenceRules": []
    },
    "node:A cada 1 hora1": {
      "recurrenceRules": []
    },
    "global": {
      "idsProcessados": [
        "308462",
        "308461",
        "308460",
        "308459",
        "308458",
        "308457",
        "308456",
        "307087",
        "306403",
        "305903",
        "305902",
        "305901",
        "304589",
        "304588",
        "304587",
        "304586",
        "304585",
        "304584",
        "304583",
        "304582",
        "304581",
        "304580",
        "304579",
        "304578",
        "304221",
        "304220",
        "304219",
        "304218",
        "304216",
        "304215",
        "304214",
        "302858",
        "302857",
        "280439",
        "267608",
        "266328",
        "261586",
        "309573",
        "309572",
        "309571",
        "310640",
        "310639",
        "310799",
        "310798",
        "310797",
        "310796",
        "310795",
        "310794",
        "310793",
        "310792",
        "310791",
        "310790",
        "310789",
        "310788",
        "310787",
        "310786",
        "310785",
        "310784",
        "310783",
        "311847",
        "313337",
        "313336",
        "314657",
        "314656",
        "314655",
        "314654",
        "314653",
        "314652",
        "314651",
        "314650",
        "314649",
        "314648",
        "314647",
        "314646"
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "0c9b2232-2575-433a-937e-3c4afa2055e1",
  "activeVersionId": null,
  "versionCounter": 70,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-04-08T20:45:58.379Z",
      "createdAt": "2026-04-08T20:45:58.379Z",
      "id": "sbYgcdkH4uF5IhP7",
      "name": "CNADV"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-18T22:43:04.364Z",
      "createdAt": "2026-03-18T22:43:04.364Z",
      "role": "workflow:owner",
      "workflowId": "LEO3bh3r8IjhmaLE",
      "projectId": "yfi5aMXS1Xk5SAYD",
      "project": {
        "updatedAt": "2025-11-22T00:31:20.493Z",
        "createdAt": "2025-11-22T00:22:48.669Z",
        "id": "yfi5aMXS1Xk5SAYD",
        "name": "RAPHAEL GIL HERNEQUE <raphaelgilh@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5e159aef-1290-489f-abf0-1ace935b45e6"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}