prod-workflow/cnadv/NNADV - Atividades → Trello__rWUVhz9QRUA24pQ7.json
{
  "updatedAt": "2026-04-08T20:46:28.592Z",
  "createdAt": "2026-03-18T22:44:41.223Z",
  "id": "rWUVhz9QRUA24pQ7",
  "name": "NNADV - Atividades → Trello",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "5d4d9029-6a48-4cb2-aa05-74c0162a8924",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        128
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4vMm6qr8IQhUy67J",
          "mode": "list",
          "cachedResultUrl": "/workflow/4vMm6qr8IQhUy67J",
          "cachedResultName": "NNADV - Auth DataJuri"
        },
        "options": {}
      },
      "id": "f158afe6-ca59-4293-baaf-9510671c7a28",
      "name": "Busca Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.bearer;\nif (!token) throw new Error('Token não encontrado');\nreturn [{ json: { bearer: token } }];"
      },
      "id": "3ad34766-ec2b-410f-ac9e-3c1eaa6a8d43",
      "name": "Salva Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://api.datajuri.com.br/v1/entidades/Atividade",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "campos",
              "value": "descricao,tipo,status,dataInicio,dataFim,prazo,responsavel.nome,processo.pasta,processo.cliente.nome,processo.adverso.nome,processo.proprietario.nome,observacao,linkRegistro,dataCadastro,criadoPor.nome"
            },
            {
              "name": "criterio",
              "value": "status | diferente de | Concluído"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "removerHtml",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.bearer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2d7a45-0034-4c77-a697-39b1ffdc83d3",
      "name": "Busca Atividades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -80
      ]
    },
    {
      "parameters": {
        "url": "=https://api.datajuri.com.br/v1/entidades/Tarefa",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criterio",
              "value": "status | diferente de | Concluído"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "removerHtml",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Salva Token').first().json.bearer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9723b12b-3d7b-4915-8397-038ba7736a99",
      "name": "Busca Tarefas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.datajuri.com.br/v1/entidades/Compromisso",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criterio",
              "value": "status | diferente de | Concluído"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "removerHtml",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Salva Token').first().json.bearer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2f77ea88-df0a-4932-b39c-5b4a9052a499",
      "name": "Busca Compromissos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\nconst todos = inputs.flatMap(item => {\n  const r = item.json;\n  if (Array.isArray(r)) return r.map(x => ({ ...x, _modulo: 'Atividade' }));\n  // Detecta rows\n  if (r.rows && Array.isArray(r.rows)) return r.rows.map(x => ({ ...x, _modulo: 'Atividade' }));\n  return [r];\n});\n\nconsole.log(`Total combinado: ${todos.length} itens`);\nreturn todos.map(r => ({ json: r }));"
      },
      "id": "6d6b7c4d-e0ee-4fa2-87f2-f51c21ae341e",
      "name": "Combina Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.atividadesProcessadas) staticData.atividadesProcessadas = [];\nif (staticData.atividadesProcessadas.length > 1000) {\n  staticData.atividadesProcessadas = staticData.atividadesProcessadas.slice(-1000);\n}\n\nconst itens = $input.all();\nconst novos = [];\n\nfor (const item of itens) {\n  const r = item.json;\n  const uid = String(r.id || r.atividadeId || r.tarefaId || r.compromissoId ||\n    `${r.descricao || ''}_${r.dataInicio || ''}_${r['processo.pasta'] || ''}`);\n  \n  if (!staticData.atividadesProcessadas.includes(uid)) {\n    staticData.atividadesProcessadas.push(uid);\n    novos.push({ ...item, json: { ...r, _uid: uid } });\n  }\n}\n\nconsole.log(`${novos.length} atividades/tarefas/compromissos novos`);\nreturn novos.length > 0 ? novos : [];"
      },
      "id": "84b9f92a-bd02-4600-80c6-c22678fe1205",
      "name": "Deduplicação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst modulo = r._modulo || 'Atividade';\n\nconst emojis = {\n  'Prazo': '⏰', 'Tarefa': '📋', 'Compromisso': '📅',\n  'Audiência': '⚖️', 'Audiencia': '⚖️', 'Reunião': '🤝',\n  'Reuniao': '🤝', 'Protocolo': '📤', 'Recurso': '📝'\n};\nconst tipo = r.tipo || modulo;\nconst emoji = emojis[tipo] || '📌';\n\nconst processo = r['processo.pasta'] || 'Sem processo';\nconst descricaoTxt = r.descricao || tipo;\nconst titulo = `${emoji} ${processo} · ${descricaoTxt}`.substring(0, 255);\n\nconst cliente = r['processo.cliente.nome'] || 'N/A';\nconst responsavel = r['responsavel.nome'] || r['processo.proprietario.nome'] || 'N/A';\nconst local = r.local ? `📍 Local: ${r.local}\\n` : '';\nconst obs = r.observacao ? `\\n💬 Obs: ${r.observacao}` : '';\nconst criadoPor = r['criadoPor.nome'] ? `\\n✏️ Criado por: ${r['criadoPor.nome']}` : '';\n\nconst desc = [\n  `📂 Módulo: ${modulo}`,\n  `👤 Cliente: ${cliente}`,\n  `👨‍⚖️ Responsável: ${responsavel}`,\n  local,\n  obs,\n  criadoPor\n].filter(Boolean).join('\\n');\n\nconst dataVenc = r.dataFim || r.prazo || r.dataInicio || null;\n\n// Hardcoded: lista 'A fazer' do board TESTE\nconst listId = '69bb474647779a97cb6786b4';\n\nreturn [{ json: { titulo, descricao: desc, dataVencimento: dataVenc, listId, tipo } }];"
      },
      "id": "c6e94605-8983-425e-8837-eff2eb7f035a",
      "name": "Monta Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idList",
              "value": "={{ $json.listId }}"
            },
            {
              "name": "name",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "desc",
              "value": "={{ $json.descricao }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0051f2d2-9c05-45f4-a93e-bc1143f79991",
      "name": "Cria Card Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        128
      ],
      "credentials": {
        "trelloApi": {
          "id": "yV2Whs8Z7g7gCMOM",
          "name": "Trello-ragheria"
        }
      }
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [
        [
          {
            "node": "Busca Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Token": {
      "main": [
        [
          {
            "node": "Salva Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Token": {
      "main": [
        [
          {
            "node": "Busca Atividades",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Tarefas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Compromissos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Atividades": {
      "main": [
        []
      ]
    },
    "Combina Resultados": {
      "main": [
        [
          {
            "node": "Deduplicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicação": {
      "main": [
        [
          {
            "node": "Monta Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Card": {
      "main": [
        [
          {
            "node": "Cria Card Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Tarefas": {
      "main": [
        []
      ]
    },
    "Busca Compromissos": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:A cada 30 minutos": {
      "recurrenceRules": []
    },
    "global": {
      "atividadesProcessadas": [
        "__",
        "359213",
        "359176",
        "359172",
        "359170",
        "359153",
        "359129",
        "359122",
        "359114",
        "359112",
        "359110",
        "359109",
        "359104",
        "358916",
        "358799",
        "358795",
        "358791",
        "358787",
        "358628",
        "358627",
        "358078",
        "358077",
        "357969",
        "357963",
        "357947",
        "357944",
        "357830",
        "357826",
        "357489",
        "357331",
        "357330",
        "357329",
        "357328",
        "357250",
        "357221",
        "357205",
        "357062",
        "357059",
        "357042",
        "356405",
        "356404",
        "354969",
        "354959",
        "354553",
        "354120",
        "353755",
        "353740",
        "353401",
        "353396",
        "352883",
        "351855",
        "351854",
        "351852",
        "351838",
        "351751",
        "351615",
        "351611",
        "351606",
        "351595",
        "351403",
        "351373",
        "351364",
        "351356",
        "351344",
        "351320",
        "351295",
        "351261",
        "351256",
        "351253",
        "351251",
        "351221",
        "350097",
        "350090",
        "349875",
        "349829",
        "349828",
        "349826",
        "349825",
        "349823",
        "349814",
        "349804",
        "349801",
        "349761",
        "349675",
        "349667",
        "349632",
        "349631",
        "349615",
        "348984",
        "347663",
        "347653",
        "347412",
        "347371",
        "345760",
        "344941",
        "344456",
        "344452",
        "344438",
        "344437",
        "343648",
        "343635",
        "359284",
        "359283",
        "359286",
        "359285",
        "359290",
        "359289",
        "359288",
        "359287",
        "359293",
        "359292",
        "359291",
        "359296",
        "359295",
        "359294",
        "359297",
        "359508",
        "359507",
        "359658",
        "359651",
        "360665",
        "360659",
        "360647",
        "360622",
        "360673"
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "d596ae6b-5101-4552-b739-ea8f7e9e2b06",
  "activeVersionId": null,
  "versionCounter": 72,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-04-08T20:45:58.379Z",
      "createdAt": "2026-04-08T20:45:58.379Z",
      "id": "sbYgcdkH4uF5IhP7",
      "name": "CNADV"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-18T22:44:41.223Z",
      "createdAt": "2026-03-18T22:44:41.223Z",
      "role": "workflow:owner",
      "workflowId": "rWUVhz9QRUA24pQ7",
      "projectId": "yfi5aMXS1Xk5SAYD",
      "project": {
        "updatedAt": "2025-11-22T00:31:20.493Z",
        "createdAt": "2025-11-22T00:22:48.669Z",
        "id": "yfi5aMXS1Xk5SAYD",
        "name": "RAPHAEL GIL HERNEQUE <raphaelgilh@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5e159aef-1290-489f-abf0-1ace935b45e6"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}