prod-workflow/cnadv/NNADV - OS → Trello__GzL4eddoKEGJSmfa.json
{
  "updatedAt": "2026-04-08T20:46:37.697Z",
  "createdAt": "2026-03-18T22:45:04.601Z",
  "id": "GzL4eddoKEGJSmfa",
  "name": "NNADV - OS → Trello",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "fe67264a-77d0-4e5c-beed-606e804be56b",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4vMm6qr8IQhUy67J",
          "mode": "list",
          "cachedResultUrl": "/workflow/4vMm6qr8IQhUy67J",
          "cachedResultName": "NNADV - Auth DataJuri"
        },
        "options": {}
      },
      "id": "66e17e81-ecca-4872-9fc3-45535e97dfb0",
      "name": "Busca Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        224,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.bearer;\nif (!token) throw new Error('Token não encontrado');\nreturn [{ json: { bearer: token } }];"
      },
      "id": "27ca9a38-cb3b-4cc0-8c37-02d631361496",
      "name": "Salva Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        16
      ]
    },
    {
      "parameters": {
        "url": "=https://api.datajuri.com.br/v1/entidades/OrdemServico",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "campos",
              "value": "descricao,tipo,status,dataSolicitacao,dataPrevisao,solicitante.nome,responsavel.nome,processo.pasta,processo.cliente.nome,processo.adverso.nome,processo.proprietario.nome,observacao,linkRegistro,dataCadastro,criadoPor.nome,valorEstimado,prioridade"
            },
            {
              "name": "criterio",
              "value": "status | diferente de | Concluído"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "removerHtml",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.bearer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "652ef2c0-ecff-4248-a545-9d1c809210da",
      "name": "Busca Ordens de Serviço",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet registros = [];\n\nif (Array.isArray(response) && response[0] && response[0].rows) {\n  registros = response[0].rows;\n} else if (response.rows) {\n  registros = response.rows;\n} else if (Array.isArray(response)) {\n  registros = response;\n} else if (response.content) {\n  registros = response.content;\n} else if (response.data) {\n  registros = response.data;\n}\n\nconsole.log(`${registros.length} ordens de serviço encontradas`);\nreturn registros.map(r => ({ json: r }));"
      },
      "id": "28228e05-d3b9-49eb-873a-2abd2632745b",
      "name": "Extrai Registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.osProcessadas) staticData.osProcessadas = [];\nif (staticData.osProcessadas.length > 500) {\n  staticData.osProcessadas = staticData.osProcessadas.slice(-500);\n}\n\nconst itens = $input.all();\nconst novos = [];\n\nfor (const item of itens) {\n  const r = item.json;\n  const uid = String(r.id || r.ordemServicoId ||\n    `${r.descricao || ''}_${r.dataSolicitacao || ''}_${r['processo.pasta'] || ''}`);\n  \n  if (!staticData.osProcessadas.includes(uid)) {\n    staticData.osProcessadas.push(uid);\n    novos.push({ ...item, json: { ...r, _uid: uid } });\n  }\n}\n\nconsole.log(`${novos.length} OS novas para criar no Trello`);\nreturn novos.length > 0 ? novos : [];"
      },
      "id": "f29d7e29-c040-41c5-8c7a-378c75af0bca",
      "name": "Deduplicação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nconst processo = r['processo.pasta'] || 'Sem processo';\nconst descricao = r.descricao || 'Ordem de Serviço';\nconst tipo = r.tipo || '';\nconst titulo = `🔧 ${processo} · ${descricao}${tipo ? ' (' + tipo + ')' : ''}`.substring(0, 255);\n\nconst cliente = r['processo.cliente.nome'] || 'N/A';\nconst adverso = r['processo.adverso.nome'] || 'N/A';\nconst responsavel = r['responsavel.nome'] || r['processo.proprietario.nome'] || 'N/A';\nconst solicitante = r['solicitante.nome'] || r['criadoPor.nome'] || 'N/A';\nconst valor = r.valorEstimado ? `💰 Valor estimado: R$ ${r.valorEstimado}` : '';\nconst prioridade = r.prioridade ? `🚨 Prioridade: ${r.prioridade}` : '';\nconst obs = r.observacao ? `\\n💬 Obs: ${r.observacao}` : '';\n\nconst desc = [\n  `👤 Cliente: ${cliente}`,\n  `⚔️ Adverso: ${adverso}`,\n  `👨‍⚖️ Responsável: ${responsavel}`,\n  `📬 Solicitante: ${solicitante}`,\n  valor,\n  prioridade,\n  obs\n].filter(Boolean).join('\\n');\n\nconst dataVenc = r.dataPrevisao || r.dataSolicitacao || null;\n\nreturn [{ json: { titulo, descricao: desc, dataVencimento: dataVenc } }];"
      },
      "id": "54afba76-f87d-4e9a-9aa1-722d9ebe49df",
      "name": "Monta Card OS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idList",
              "value": "69bb474647779a97cb6786b4"
            },
            {
              "name": "name",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "desc",
              "value": "={{ $json.descricao }}"
            },
            {
              "name": "due",
              "value": "={{ $json.dataVencimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a12793f-eb4f-4c7f-89ab-34414854dcf6",
      "name": "Cria Card Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        16
      ],
      "credentials": {
        "trelloApi": {
          "id": "yV2Whs8Z7g7gCMOM",
          "name": "Trello-ragheria"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const card = $input.first().json;\nconsole.log(`OS → Trello: ${card.name} (${card.shortUrl || 'sem URL'})`);\nreturn [{ json: { sucesso: !!card.id, card_id: card.id, card_url: card.shortUrl } }];"
      },
      "id": "4e8554ef-1256-449b-94a8-17242aa0d9a1",
      "name": "Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        16
      ]
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Busca Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Token": {
      "main": [
        [
          {
            "node": "Salva Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Token": {
      "main": [
        [
          {
            "node": "Busca Ordens de Serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Ordens de Serviço": {
      "main": [
        [
          {
            "node": "Extrai Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Registros": {
      "main": [
        [
          {
            "node": "Deduplicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicação": {
      "main": [
        [
          {
            "node": "Monta Card OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Card OS": {
      "main": [
        [
          {
            "node": "Cria Card Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Card Trello": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:A cada 1 hora": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "f4937af5-f52f-4abf-9ffb-71f60da192a2",
  "activeVersionId": null,
  "versionCounter": 35,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-04-08T20:45:58.379Z",
      "createdAt": "2026-04-08T20:45:58.379Z",
      "id": "sbYgcdkH4uF5IhP7",
      "name": "CNADV"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-18T22:45:04.601Z",
      "createdAt": "2026-03-18T22:45:04.601Z",
      "role": "workflow:owner",
      "workflowId": "GzL4eddoKEGJSmfa",
      "projectId": "yfi5aMXS1Xk5SAYD",
      "project": {
        "updatedAt": "2025-11-22T00:31:20.493Z",
        "createdAt": "2025-11-22T00:22:48.669Z",
        "id": "yfi5aMXS1Xk5SAYD",
        "name": "RAPHAEL GIL HERNEQUE <raphaelgilh@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5e159aef-1290-489f-abf0-1ace935b45e6"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version f4937af5",
    "description": ""
  }
}